@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanban-board {
    display: flex;
    justify-content: space-between;
  }
  
  .kanban-column {
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .kanban-column h2 {
    margin-bottom: 10px;
  }
  
  .issue-card {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .issue-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .issue-card-details {
    margin-top: 10px;
  }
  
  .label {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-right: 5px;
  }
  
  .label-priority {
    background-color: #f00;
    color: #fff;
  }
  
  .label-bug {
    background-color: #f90;
    color: #fff;
  }
  
  .issue-card-milestone {
    font-size: 0.8rem;
    color: #999;
  }
  